@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: rgba(49, 48, 77, 1) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper-thumbs .swiper-slide {
  display: flex;
  width: 98px;
  height: 92px;
  background-color: #FFF;
}

.swiper-thumbs .swiper-slide-thumb-active{
  background-color: #B6BBC4;
}
